<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cadastros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <script src="../js/main.js"></script>
    <script src="../js/lista.js"></script>
    

</head>
<body>
    <h2>LISTA</h2>
    <div class="form-box">
        <table>
            <tr>
                <th>Email</th>
                <th>Pontos</th>
                <th>Nome</th>
            </tr>
                <td id="linha_lista_email"></td>
                <td id="linha_lista_pontos"></td>
                <td id="linha_lista_senha"></td>
        </table>
    </div>
</body>
</html>