<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cadastros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <script src="../js/main.js"></script>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>


</head>
<body>
    <div class="form-box">
        <p class="form-text">Login</p>
        <form name="form" style="text-align: center;">
            <input class="form-input" placeholder="Entrar com email..." name="femail" type="email"><br>
            <input class="form-input" placeholder="Entrar com senha..." name="fsenha" type="password"><br>
            <input class="form-button" value="acessar" type="button" id="botaoSelecionado" onClick="requestLogIn()">
        </form>
    </div>
</body>
</html>